{% extends "shared/defaultLayout.twig" %}

{% block content %}
    <div class="ui segment">
        <h1>{{ i18n('appName') }}</h1>
        {% if user %}
            <h3>Hello {{ user.name }}!</h3>
        {% else %}
            <p>You are currently not <a href="login">logged-in</a>.</p>
        {% endif %}
    </div>
    <div class="ui segment">
        <div>Play <a href="/state">Hangman</a> (state machine sample)</div>
    </div>
{% endblock %}