{% extends "shared/defaultLayout.twig" %}

{% block content %}
    <div class="ui segment">
        <h1>Hangman</h1>
        <h2>You won!</h2>
        <h3>The word was '{{ word|join }}' and you did it in '{{ guessCount }}' guess.</h3>
        <form class="ui form" action="state" method="POST">
            {{ csrf() }}
            <input class="ui button green" type="submit" value="New Game">
        </form>
    </div>
{% endblock %}
